.navBackground{
  background-color: $test;
  .top-bar, .top-bar ul{
    background-color: transparent;
  }
  .title-bar{
    background-color: transparent;
  }
}
.top-bar-left{
  img{
    max-width: 120px;
  }
}
.align-justify{
  background-color: $test;
  div{
    border: $borderTest;
  }
}

.client .columns{
  background: $test;
  border: $borderTest;
  img{
    width:670px !important;
    min-width:670px !important;
    overflow: visible;
  }
}
.clientBottom{
  text-align: right;
  margin-top: 50px;
  margin-bottom: 50px;
  .columns{
  background: $test;
  border: $borderTest;
  }
}


@mixin center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bubbleWrap{
  .column{
    background-color: $test;
    border: $borderTest;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    // margin: 20px;
    @include center-children;
    text-align:center;
    div{
    }
  }
}
// .testy{
//    display: flex;
//    flex-direction: row;
//    justify-content: flex-end;
// }



#newsWrap{
  background-color: $test;
  #newsFeed ul{
    @include grid-row(3);
    li{
      background-color: $test;
      @include grid-column(1);
      .tweet{
       font-weight: 300;
       margin-top: 25%;
       margin-bottom: 20%;
       overflow: hidden !important;
      }
      a span{
         font-weight: 300;
         color: $green !important;
      }
    }
  }
}
.user a span:first-of-type {
   display:none;
   margin-right:25px;
   color: $dark-gray !important;
   font-weight: 500 !important;
}
.user a span:last-of-type {
   display: block;
   margin-top:7px;
   font-size: 200%;
   color: $dark-gray !important;
   font-weight: 500 !important;
}
.tweet{
   margin-top: 85px;
}
.timePosted{
   margin-left: 15px;
   color: $dark-gray !important;
   font-weight: 300;
}
.media img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 200px !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 30px;
}
.user a > span {
   float:left;
   font-weight: 300;
}
.tweet{
   color: $light-gray !important;
}
.tweet a > span:before {
   background-color: transparent !important;
   height: 0px;
   margin-bottom: 0px;
}
.tweet a > span:after {
   background-color: blue !important;
   height: 0px;
   margin-bottom: 0px;
}
.tweet a:hover{
   color: $greenLite !important;
   @include mui-animation(fade);
}


#buyWrap{
  // @include grid-row(3);
  div{
    margin-right: $pad;
    background-color: $test;
    border: $borderTest;
    // @include grid-column(1);
  }
  div:last-child{
    margin-right: 0px;
  }
}
.tester{
  background-color: $test;
  border: $borderTest;
}
#buyBar{
  text-align: center;
}
.helpWrap div:first-child{
  text-align: center;
}
.helpWrap div{
    background-color: $test;
    border: $borderTest;
}
