<div class="tester row align-stretch">
  <div class="small-12 columns">
    <div id="buyWrap" class="row">
      <div class="small-12 med-large-expand columns">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="small-12 med-large-expand columns">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="small-12 med-large-expand columns">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
</div>
<div id="buyBar">
  <div class="row align-center">
    <div class="small-4 med-large-expand columns">
      <a href="https://poloniex.com/exchange#btc_xem">
        <img height="16px" src="{{root}}/assets/img/poloniexSat.png"/ alt="Poloniex cryptocurrency exchange">
      </a>
    </div>
    <div class="small-4 med-large-expand columns">
      <a href="https://bittrex.com/Market/Index?MarketName=BTC-XEM">
        <img height="20px" src="{{root}}/assets/img/bittrexSat.png" alt="bittrex cryptocurrency exchange"/>
      </a>
    </div>
    <div class="small-4 med-large-expand columns">
      <a href="http://btc38.com/trade.html?mk_type=btc&btc38_trade_coin_name=xem">
        <img height="16px" src="{{root}}/assets/img/btc38Sat.png" alt="btc38 cryptocurrency exchange"/>
      </a>
    </div>
    <div class="small-4 med-large-expand columns">
      <a href="https://vip.bitcoin.co.id/nembtc">
        <img height="20px" src="{{root}}/assets/img/bitcoincoid.png" alt="bitcoin cryptocurrency exchange"/>
      </a>
    </div>
    <div class="small-4 med-large-expand columns">
      <a href="https://bter.com/trade/XEM_BTC">
        <img src="{{root}}/assets/img/bterSat.png" alt="bter cryptocurrency exchange"/>
      </a>
    </div>
  </div>
</div>
